# Local development values only. Copy this file to .env if you need overrides.
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_PORT=3306

KEYCLOAK_PORT=8091
KEYCLOAK_DB_NAME=keycloak
KEYCLOAK_DB_USERNAME=keycloak
KEYCLOAK_DB_PASSWORD=keycloak_password
KEYCLOAK_DB_ROOT_PASSWORD=keycloak_root_password
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=admin_password
KEYCLOAK_ISSUER_URI=http://localhost:8091/realms/book-my-event
KEYCLOAK_AUDIENCE=book-my-event-api

KAFKA_PORT=9092
KAFKA_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk
KAFKA_BOOKING_TOPIC=booking-created-v1
KAFKA_BOOKING_TOPIC_PARTITIONS=3
SCHEMA_REGISTRY_PORT=8085
KAFKA_UI_PORT=8090

INVENTORY_DB_NAME=inventory_db
INVENTORY_DB_USERNAME=inventory_user
INVENTORY_DB_PASSWORD=inventory_password

BOOKING_DB_NAME=booking_db
BOOKING_DB_USERNAME=booking_user
BOOKING_DB_PASSWORD=booking_password

ORDER_DB_NAME=order_db
ORDER_DB_USERNAME=order_user
ORDER_DB_PASSWORD=order_password
